body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(97,138,254,0.9);
}

.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}

.box {
    width: 400px;
    height: 500px;
    background: #fafafa;
    border-radius: 12px;
    text-align: center;
    box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.5);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: rgb(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 36px;
    padding: 30px 0;
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.content{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

label {
    display: block;
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin: 10px;
}

input[type="text"] {
    border: none;
    border-bottom: 1px solid #4f7df9;
    width: 60%;
    text-align: center;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}

button {
    background-color: #111e2c;
    color: #fff;
    border: none;
    width: 80%;
    padding: 20px 20px;
    margin: 40px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#result {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    color: #080808;
}